<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather - Uzbekistan</title>
</head>
<style>
	*{font: 25px "Tahoma";}
	{{css}}
</style>
<body>
	<table align="center">
		<tr>
			<td>
				<ul>
					<li><a href="/Andijon">Andijon</a></li>
					<li><a href="/Buxoro">Buxoro</a></li>
					<li><a href="/Fargʻona">Fargʻona</a></li>
					<li><a href="/Jizzax">Jizzax</a></li>
					<li><a href="/Urganch">Xorazm</a></li>
					<li><a href="/Namangan">Namangan</a></li>
					<li><a href="/Navoiy">Navoiy</a></li>
					<li><a href="/Qarshi">Qashqadaryo</a></li>
					<li><a href="/Nukus">Nukus</a></li>
					<li><a href="/Samarqand">Samarqand</a></li>
					<li><a href="/Guliston">Sirdaryo</a></li>
					<li><a href="/Termiz">Surxondaryo</a></li>
					<li><a href="/Toshkent">Toshkent</a></li>
				</ul>
			</td>
		</tr>
	</table>
</body>
</html>